---
import '../assets/styles/index.css'
import Layout from '../layouts/Layout.astro'
import HomePage from '../modules/home-page'
import AboutPage from '../modules/about-page'
import ServicesPage from '../modules/services-page'
import ContactPage from '../modules/contact-page'
---

<Layout>
  <main
    class="h-screen overflow-x-hidden overflow-y-scroll scroll-smooth snap-y snap-mandatory"
  >
    <HomePage client:load />
    <!-- <AboutPage />
    <ServicesPage client:visible /> -->
    <ContactPage client:visible />
  </main>
</Layout>
